html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}
body {
    background-color:rgb(223, 223, 223);
    color: black;
}

/**********  BODY CONTAINER  ***********/
#content {
    font-family: "Calibri", sans-serif;
    color:rgb(114, 114, 114);
    max-width: 1920px;
    margin: auto;
    display: grid;
    grid-template-columns: 35% 35% 1% 29%;
    grid-template-rows: auto;
}


/********************  HEADER / NAVBAR ********************/
header {
    grid-column: 1 / span all;
    grid-row: 1 / span 1;
}
nav {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 4% 30% 25% 10% 10% 10% 10% 1%;
    grid-template-rows: 25px 25px 80px 25px 25px; 
}
#navbar {
    background-color: rgb(255, 255, 255);
    border-top: solid rgb(189, 189, 189);
    border-bottom: solid rgb(189, 189, 189);
    grid-column: 1 / span all;
    grid-row: 3 / span 1;
}
#logo {
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
}
#logo img {
    width: 130px;
    height: auto;
    clip-path: circle(50%);
    margin: auto;
}
#logo_words {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5em;
    margin: auto;
    margin-left: 140px;

    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
#first_logo {
    color:rgb(114, 114, 114);
}
#last_logo {
    margin-left: -0.2em;
    color:rgb(160, 160, 160);   
}
.links {
    margin: auto;
    font-size: larger;

    grid-row: 3 / span 1;
}
a {
    text-decoration: none;
}
.links a {
    color:rgb(160, 160, 160);
}
.links a:visited {
    color:rgb(160, 160, 160);
}
.links a:hover {
    color:rgb(12, 29, 75);
}
#link1 {
    grid-column:4 / span 1;
}
#link2 {
    grid-column: 5 / span 1;
}
#link3 {
    grid-column: 6 / span 1;
}
#link4 {
    grid-column: 7 / span 1;
}


/*********** MAIN HEADING / CIRCLES CONTAINER **************/
#title {
    color:rgb(12, 29, 75);
    font-family: 'Oswald', sans-serif;
    width: 100%;
    font-size: 2em;
    grid-column: 1 / span all;
    grid-row: 2 / span 1;
}
#title h1, h3 {
    text-align: center;
}

#circles {
    display: grid;
    grid-template-columns: 26% 12% 12% 12% 12% 26%;
    grid-template-rows: 100%;
}
#circles > div {
    width: 100px; 
    height: 100px; 
    border-radius: 50px;
    margin: auto;
    border: solid rgb(255, 255, 255);
    outline: 2px solid rgb(116, 116, 116);
}
.circle_grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32% 35% 33%;
}
.circle_grid span { 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 75%;
    color: white;
    text-align: center;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
#circle_1, #circle_2, #circle_3, #circle_4 {
    grid-row: 1 / span 1;
}
#circle_1 {
    grid-column: 2 / span 1;
    background-color:rgb(57, 59, 88);
}
#circle_2 {
    grid-column: 3 / span 1;
    background-color:rgba(30, 33, 87, 0.609);
}
#circle_3 {
    grid-column: 4 / span 1;
    background-color:rgb(69, 148, 148);
}
#circle_4 {
    grid-column: 5 / span 1;
    background-color:rgba(108, 187, 187, 0.479);
}
#break {
    margin: 5%;
}


/*************** PROJECTS CONTAINER ***************/
#styles {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 2% 32% 32% 32% 2%;
    grid-template-rows: 10% auto;
}
#styles_header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    text-align: center;
}
.styles_figure {
    height: auto;
    width: 80%;
    margin: auto;
    padding-bottom: 10%;
    padding-top: 5%;
}
.styles_figure img {
    height: auto;
    width: 100%;
    border-radius: 2%;
    border: 5px solid rgb(255, 255, 255);
    outline: 2px solid rgb(39, 158, 146);
}
.styles_figure figcaption {
    color:rgb(12, 29, 75);
    text-align: justify;
}
#style1 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
#style2 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1; 
}
#style3 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}
#style4 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
#style5 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1; 
}
#style6 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
}


/************************ BLOG CONTAINER ********************/    
#extra {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    margin-right: 5%;
    margin-left: 5%;
}
#blog_link1, #blog_link2, #blog_link3, #socials {
    font-family: 'Oswald', sans-serif;
    color:rgb(12, 29, 75);
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 25% 10% 65%;
    grid-template-rows: 100%;
}
.blog_links img {
    width: 100%;
    border-radius: 2%;
    border: 3px solid rgb(255, 255, 255);
    outline: 2px solid rgb(39, 158, 146);
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.blog_links span {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    font-size: 1.5em;
}
.blog_links a, #styles a {
    color:rgb(12, 29, 75);
}
.blog_links a:visited, #styles a:visited {
    color:rgb(12, 29, 75);
}
.blog_links a:hover, #styles a:hover {
    color:rgb(120, 120, 120);
}


/*********************** FOOTER ****************************/
footer {
        grid-column: 1 / span all;
        grid-row: 5 / span 1;
        text-align: center;
}


@media only screen and (max-width : 1400px) and (min-width : 1281px) {

    /*************** BACKGROUND OPTIONS CONTAINER ***************/
    #styles {
        grid-template-columns: 5% 45% 45% 5%;
    }
 
    #styles_header {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    #style1 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    #style2 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1; 
    }
    #style3 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
    #style4 {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }
    #style5 {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1; 
    }
    #style6 {
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
    }
} 

@media only screen and (max-width : 1280px) and (min-width : 701px) {
    #content {
        grid-template-columns: 100%;
    }

    /********************  HEADER / NAVBAR ********************/
    nav {
        grid-template-columns: 10% 15% 15% 20% 15% 15% 10%;
    }
    #logo {
        margin: auto;
        grid-column: 1 / span all;
    }
    #logo_words {
        margin-left: auto;
        grid-column: 1 / span all;
        grid-row: 5 / span 1;
    }
    #link1 {
        grid-column:2 / span 1;
    }
    #link2 {
        grid-column: 3 / span 1;
    }
    #link3 {
        grid-column: 5 / span 1;
    }
    #link4 {
        grid-column: 6 / span 1;
    }

    /*********** MAIN HEADING / CIRCLES CONTAINER **************/
    #title {
        margin-bottom: -3%;
    }
    #circles {
        grid-template-columns: 10% 20% 20% 20% 20% 10%;
    }
    #circle_1 {
        grid-column: 2 / span 1;
    }
    #circle_2 {
        grid-column: 3 / span 1;
    }
    #circle_3 {
        grid-column: 4 / span 1;
    }
    #circle_4 {
        grid-column: 5 / span 1;
    }

    /*************** BACKGROUND OPTIONS CONTAINER ***************/    
    #styles {
        grid-template-columns: 5% 45% 45% 5%;
        grid-template-rows: auto;
    }
    #styles_header {
        grid-column: 1 / span all;
    }
    #style1 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    #style2 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1; 
    }
    #style3 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
    #style4 {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }
    #style5 {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1; 
    }
    #style6 {
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
    }

    /************************ BLOG CONTAINER ********************/    
    #extra {
        grid-column: 1 / span all;
        grid-row: 4 / span 1;
        margin-right: 20%;
        margin-left: 20%;
    }
    #extra_header {
        text-align: center;
    }
}

@media only screen and (max-width : 700px) {
    #content {
        grid-template-columns: 100%;
    }

    /********************  HEADER / NAVBAR ********************/
    nav {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 25px 25px 80px 25px 25px 100px;
    }
    #logo {
        margin: auto;
        grid-column: 1 / span all;
    }
    #logo_words {
        margin: auto;
        grid-column: 1 / span all;
        grid-row: 5 / span 1;
    }
    .links {
        grid-row: 6 / span 1;
    }
    #link1 {
        grid-column: 1 / span 1;
    }
    #link2 {
        grid-column: 2 / span 1;
    }
    #link3 {
        grid-column: 3 / span 1;
    }
    #link4 {
        grid-column: 4 / span 1;
    }

    /*********** MAIN HEADING / CIRCLES CONTAINER **************/
    #circles {
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 20vw 15vw 20vw;
    }
    #circle_1 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    #circle_2 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    #circle_3 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
    #circle_4 {
        grid-column:  3 / span 1;
        grid-row: 3 / span 1;
    }
    #break {
        margin-top: 2em; 
    }
    
    /*************** BACKGROUND OPTIONS CONTAINER ***************/
    #styles {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    #style1 {
        grid-column: 1 / span all;
        grid-row: 2 / span 1;
    }
    #style2 {
        grid-column: 1 / span all;
        grid-row: 3 / span 1; 
    }
    #style3 {
        grid-column: 1 / span all;
        grid-row: 4 / span 1;
    }
    #style4 {
        grid-column: 1 / span all;
        grid-row: 5 / span 1;
    }
    #style5 {
        grid-column: 1 / span all;
        grid-row: 6 / span 1; 
    }
    #style6 {
        grid-column: 1 / span all;
        grid-row: 7 / span 1;
    }
    
    /************************ BLOG CONTAINER ********************/    
    #extra {
        grid-column: 1 / span all;
        grid-row: 4 / span 1;
        margin-right: 10%;
        margin-left: 10%;
    }
    #extra_header {
        text-align: center;
    }
}
